* {
    /* box-sizing: border-box; */
}

/* General CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* .btn-grey {
    background-color: #F1F1F1;
    Padding: 0.6rem 0.9rem;
    border-radius: 4px;
} */


/* Header */

.grid-icon {
    width: 1rem;
}

.btn-blue {
    color: white;
    background-color: #4285f4;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    border-radius: 2px;
}

header {
    margin: 1rem;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.header-nav ul li {
    padding: 10px;
}

