:root {
    --color-lightgrey: #5F6368;
}

* {
    box-sizing: border-box;
}

/* General CSS */
body {
    color: var(--color-lightgrey);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Header */

.grid-icon {
    width: 1rem;
}

.btn-blue {
    color: white;
    background-color: #4285f4;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    border-radius: 2px;
}

header {
    margin: 1rem;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.header-nav ul li {
    padding: 10px;
}

.header-nav a:hover {
    text-decoration: underline;
}

/* Main */


.logo {
    width: 270px;
    margin: 0 auto;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 145px;
}

.search-input {
    width: 582px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #DFE1E5;
    margin: 1.5rem 0 1.7rem 0;
}

.btn-grey {
    font-size: 14px;
    display: inline-block;
    background-color: #F1F1F1;
    Padding: 0.6rem 0.9rem;
    border-radius: 4px;
    border: none;
    margin: 0 3px;
    cursor: pointer;
} 

.btn-grey:hover {
    border: 1px solid darkgrey;
}

